.blok_ssilok{
    border: 1px solid rgb(255, 0, 76);
    position: absolute;
    height: 170px;
    width: 650px;
}

.oglav{
    position: absolute;
    height: 30px;
    width: 150px;
    background-color: rgb(255, 0, 76)

}

b{
    position: absolute;          
    top: 5px;                       
    left: 10px;
    color: white;
    background-color: rgb(255, 0, 76);
}

.s1{
    position: absolute;
    top: 50px;
    left: 10px;
}
.s2{
    position: absolute;
    top: 80px;
    left: 10px;
}
.s3{
    position: absolute;
    top: 110px;
    left: 10px;
}

a{
    margin: 5px;
}